{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "bracketSameLine": true,
  "useTabs": true,
  "overrides": [
    {
      "files": "src/**/*.html",
      "options": {
        "printWidth": 140
      }
    }
  ]
}
